
<div class="container">
  <h3 class="alert alert-success">Jogadores:</h3>

  <div class="card">
    <div class="card-header bg-info">
      <h5>Filtros</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <label for="nome">Nome:</label>
            <input
              type="text"
              class="form-control"
              name="nome"
              id="nome"
              [(ngModel)]="seletor.nome"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="totalPartidasMinima">Partidas mínimas:</label>
            <input
              type="number"
              class="form-control"
              name="totalPartidasMinima"
              id="totalPartidasMinima"
              [(ngModel)]="seletor.totalPartidasMinima"
            />
          </div>
          <div class="col-md-3">
            <label for="dataNascimentoMinima">De:</label>
            <input
              type="date"
              class="form-control"
              name="dataNascimentoMinima"
              id="dataNascimentoMinima"
              [(ngModel)]="seletor.dataNascimentoMinima"
            />
          </div>
          <div class="col-md-3">
            <label for="nome">&nbsp;</label>
            <button
              type="button"
              class="form-control btn btn-warning"
              (click)="limpar()"
            >
              <i class="bi bi-trash"></i> Limpar
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="totalPartidasMaxima">Partidas máximas:</label>
            <input
              type="number"
              class="form-control"
              name="totalPartidasMaxima"
              id="totalPartidasMaxima"
              [(ngModel)]="seletor.totalPartidasMaxima"
            />
          </div>
          <div class="col-md-3">
            <label for="dataNascimentoMaxima">Até:</label>
            <input
              type="date"
              class="form-control"
              name="dataNascimentoMaxima"
              id="dataNascimentoMaxima"
              [(ngModel)]="seletor.dataNascimentoMaxima"
            />
          </div>
          <div class="col-md-3">
            <label for="nome">&nbsp;</label>
            <button
              type="button"
              class="form-control btn btn-primary"
              (click)="pesquisar()"
            >
              <i class="bi bi-search"></i> Pesquisar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br /><br />

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Data de nascimento</th>
          <th>Total de partidas</th>
          <th>Percentual de vitorias</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let jogador of jogador">
          <td>{{ jogador.nome }}</td>
          <td>{{ jogador.email }}</td>
          <td>{{ jogador.dataNascimento | date : "dd/MM/yyyy"  }}</td>
          <td>{{ jogador.totalPartidas }}</td>
          <td>{{ jogador.percentualVitorias }}</td>
          <td class="text-center">
            <button class="btn btn-xs btn-info mr-12 text-white"
                    (click)="editar(jogador.id)">
                  <i class="bi bi-pencil"></i> Editar
            </button>
            &nbsp;
            <button class="btn btn-xs btn-danger"
                    (click)="excluir(jogador)">
                <i class="bi bi-x"></i> Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
