
<div class="container">
  <h3 class="alert alert-success">Carros disponíveis</h3>

  <div class="card">
    <div class="card-header bg-info">
      <h5>Filtros</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <label for="modelo">Modelo:</label>
            <input
              type="text"
              class="form-control"
              name="modelo"
              id="modelo"
              [(ngModel)]="seletor.modelo"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="montadora">Montadora:</label>
            <input
              type="text"
              class="form-control"
              name="montadora"
              id="montadora"
              [(ngModel)]="seletor.montadora"
            />
          </div>
          <div class="col-md-3">
            <label for="anoMinimo">De:</label>
            <input
              type="number"
              class="form-control"
              name="anoMinimo"
              [(ngModel)]="seletor.anoMinimo"
            />
          </div>
          <div class="col-md-3">
            <label for="anoMaximo">Até:</label>
            <input
              type="number"
              class="form-control"
              name="anoMaximo"
              id="anoMaximo"
              [(ngModel)]="seletor.anoMaximo"
            />
          </div>
          <div class="col-md-3">
            <label for="nome">&nbsp;</label>
            <button
              type="button"
              class="form-control btn btn-primary"
              (click)="pesquisar()"
            >
              <i class="bi bi-search"></i> Pesquisar
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="nome">&nbsp;</label>
            <button
              type="button"
              class="form-control btn btn-warning"
              (click)="limpar()"
            >
              <i class="bi bi-trash"></i> Limpar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br /><br />
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Modelo</th>
          <th>Placa</th>
          <th>Montadora</th>
          <th>Ano</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let carro of carros">
          <td>{{ carro.modelo }}</td>
          <td>{{ carro.placa }}</td>
          <td>{{ carro.montadora }}</td>
          <td>{{ carro.ano }}</td>
          <td>{{"R$" + carro.valor }}</td>
          <td class="text-center">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
